
*.m~
*.asv
core/MDOF_Free_Response_Visc\.m

core/MDOF_FRF_Point_Struc\.m

core/MDOF_FRF_Point_Visc\.m

core/MDOF_FRF_Visc\.m

core/MDOF_Harmonic_Response_Visc\.m

core/MDOF_IRF_Visc\.m

core/quad_eig\.m

core/SDOF_Free_Response_Visc\.m

core/SDOF_FRF_Struc_mul_k\.m

core/SDOF_FRF_Visc_mul_k\.m

core/SDOF_Harmonic_Response_dot_Visc_mul_m\.m

core/SDOF_Harmonic_Response_Visc_mul_m\.m

core/SDOF_IRF_Visc_mul_m\.m

core/SDOF_Vehicle_IRF\.m

core/SDOF_Vehicle_Step_Response\.m
